$gray_50: rgba(249, 250, 251, 1);
$gray_100: rgba(243, 244, 246, 1);
$gray_200: rgba(229, 231, 235, 1);
$gray_500: rgba(107, 114, 128, 1);
$gray_600: rgba(75, 85, 99, 1);
$gray_900: rgba(17, 24, 39, 1);
$gray_950: rgba(3, 7, 18, 1);
$gray_default: rgba(255, 255, 255, 1);
$orange_400: rgba(246, 166, 61, 1);
$orange_500: rgba(244, 144, 12, 1);
$error: rgba(204, 40, 40, 1);
$yellow_500: rgba(255, 214, 0, 1);
